[submodule "2075/.obsidian/plugins/obsidian-hexcrawl"]
	path = 2075/.obsidian/plugins/obsidian-hexcrawl
	url = https://github.com/evolJoaoBento/hexmap-explorer.git
[submodule "2075/.obsidian/plugins/obsidian-hexcrawl-plugin"]
	path = 2075/.obsidian/plugins/obsidian-hexcrawl-plugin
	url = https://github.com/coddingtonbear/obsidian-local-rest-api.git
[submodule "2075/.obsidian/plugins/dsix"]
	path = 2075/.obsidian/plugins/dsix
	url = https://github.com/evolJoaoBento/obsidian-physical-dice.git
